.btn{
  padding: 10px 25px;
  background-color: var(--main-color);
  text-decoration: none;
  color:var(--dark);
  border-radius: 20px;
  display: inline-block;
  font-weight: 700;
  transition: var(--transition-time);
  &:hover{
    background-color: var(--secondary-color);
    color:var(--main-color);
  }
  &.btn--dark{ 
    background-color: var(--secondary-color);
    color:var(--dark);
    &:hover{
      background-color: var(--dark);
      color:var(--main-color);
    }
  }
  &.btn--dark2{
    background-color: var(--dark);
    color:var(--main-color);
    &:hover{
      background-color: var(--secondary-color);
      color:var(--dark);
    }
  }
}