/* Contacto */
#contacto{
    padding: 5rem 0;
    text-align: center;
  form{
    margin-top:3rem;
  }
  input{
    border:none;
    height: 30px;
    background-color: var(--light);
    padding: 10px;
    font-size:1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    vertical-align: middle;
    padding:2rem;
    border-bottom:3px solid var(--light);
    &:focus{
      box-shadow: none;
      outline:none;
      border-bottom:3px solid var(--fourth-color);
    }
    &[type="submit"]{
      background-color: var(--dark);
      height: 50px;
      padding: 10px 20px;
      color:var(--main-color);
      text-transform: uppercase;
      font-family: (--font2);
      font-size: 20px;
      letter-spacing: 0.1em;
      font-style: normal;
      /* flex-basis:300px; */
      margin-top:20px;
      transition: var(--transition-time);
      border:none;
      border-radius: 30px;
      &:hover{
        background-color: var(--secondary-color);
        color:var(--dark);
      }
    }
  }
}