/* Header */
input#mobile-menu{
  display: none;
}
input#mobile-menu + label{
  width: 50px;
  height: 40px;
  border-radius: 3px;
  color:var(--main-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-time);
  cursor: pointer;
}
input#mobile-menu + label::before,
input#mobile-menu + label::after{
  content: "";
  height: 3px;
  width:100%;
  border-radius: 5px;
  background-color:var(--main-color);
  position: absolute;
  top:0;
  left:0;
  transition: var(--transition-time);
}
input#mobile-menu + label::after{
  top:auto;
  left:0;
  bottom:0;
}
input#mobile-menu:checked + label{
  font-size: 0;
}
input#mobile-menu:checked + label::before,
input#mobile-menu:checked + label::after{
  left:50%;
  top:50%;
  bottom:auto;
	@include center-rotate(-50%,-50%,45deg);
  transform-origin: 50% 50%;
}
input#mobile-menu:checked + label::after{
	@include center-rotate(-50%,-50%,-45deg);
}

#navigation{
  background-color:var(--dark);
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 99;
}
#navigation .flex{
  justify-content: space-between;
}
#navigation figure{
  width:var(--logo-width);
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
#navigation nav{
  width:calc(100% - var(--logo-width));
  justify-content: flex-end;
  align-items: center;
  position:fixed;
  right:-100%;
  width:400px;
  height: 100%;
  max-width: 100%;
  background-color:var(--secondary-color);
  align-items: flex-start;
  justify-content: center;
  top:75px;
  z-index: 99;
  transition: var(--transition-time);
}
#navigation input#mobile-menu:checked + label + nav{
  display: flex;
  right:0;
}
#navigation nav ul{
  padding: 0;
}
#navigation nav ul li{
  display: block;
  width:100%;
  border-bottom:1px solid var(--main-color);
  position: relative;
}
#navigation nav ul li a{
  position: relative;
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color:var(--main-color);
  font-weight: 400;
  transition:var(--transition-time);
  font-size:1.3rem;
} 
#navigation nav ul li a.active{
  font-weight: 700;
  text-shadow: 0 0 20px var(--main-color);
}
#navigation nav ul li a:hover{
  color:var(--dark);
}
#navigation ul > li > ul {
    position: relative;
}
#navigation ul > li > ul > li > a {
  background-color: rgba(0,0,0,.7);
  padding-left: 60px;
}
#navigation ul > li > ul > li > a:hover {
  background-color: var(--main-color);
}
#navigation ul > li > ul > li:last-child{
  border-bottom:none;
}
#navigation ul > li > ul > li:first-child{
  border-top: 1px solid var(--main-color);
}
#navigation h1{
  width:1px;
  height:1px;
  visibility: hidden;
  overflow: hidden;
}
body{
  padding-top: 53px;
}
@media screen and (min-width:992px){
  body{
    padding-top: 103px;
  }
  #navigation nav{
    top:103px;
  }
  #navigation nav > ul{
    margin-top:1rem;
  }
}
@media screen and (min-width:1200px){
  body{
    padding-top: 103px;
  }
  #navigation nav{
    top:103px;
  }
  #navigation nav{
    display: flex;
    top:auto;
    position: relative;
    right:auto;
    width:auto;
    background-color: transparent;
  }
  input#mobile-menu + label{
    display: none;
  }
  #navigation nav ul li {
    display: block;
    width: auto;
    border-bottom:none;
  }
  #navigation nav ul li a::after{
    content:"";
    width: 1px;
    height: 40%;
    background-color: var(--main-color);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right:0;
    top:50%;
		@include centerY(-50%);
  }
  #navigation nav ul li:last-child a{
  margin-right: 0;
  }
  #navigation nav ul li:last-child a::after{
    content:none;
  }
  #navigation nav ul li a{
    font-size: 1rem;
  }
  #navigation nav ul li a:hover{
    color:var(--secondary-color);
  }
  #navigation ul > li > ul {
    position: absolute;
    padding-top: 16px;
    left:50%;
    @include centerX(-50%);
    width:140%;
    display: none;
  }
  #navigation ul > li > ul > li > a {
    background-color: var(--secondary-color);
    padding-left: 25px;
  }
  #navigation ul > li > ul > li > a:hover {
    background-color: var(--dark);
  }
  #navigation ul > li > ul > li > a::after{
    content: none;
  }
  #navigation nav ul li:hover a + ul{
    display: block;
  }
}